.websitewidth {
    /* width: 100%; */
    align-items: center;
    justify-content: center;
    /* overflow-x: hidden; */
    border: 1px solid red;
    /* background-color: aquamarine; */
}

.Main {
    max-width: 1440px;
    margin: 0px auto;
}

/* .nav {
    display: flex;
    min-width: 100%;
    align-items: center;
    justify-content: space-between;
} */

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.logo {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #f1a501;

}

.menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul li {
    margin-right: 44px;
}

.menu ul li {
    list-style: none;
}

.menu ul li a {
    text-decoration: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #f1a501;
}

.nav-button-login button {
    width: 140px;
    height: 55px;
    background: #ffffff;
    border: 1px solid #eca204;
    border-radius: 10px;
}

.nav-button-sign button {
    width: 140px;
    height: 55px;
    background: #ffffff;
    border: 1px solid #eca204;
    border-radius: 10px;
}

.health {


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;

    color: #4F4F4F;
}

.click {
    color: #F1A501;
}

.main-01 {
    display: flex;
    justify-content: space-between;
    /* padding: 20px; */
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
}

.p1 {
    color: #6C7485;
    margin-top: -35px
}

.button3 {
    width: 182.86px;
    height: 65px;
    /* margin-left: 30px; */
    background: linear-gradient(180deg, #F1A501 0%, #E4A00B 100%);
    border-radius: 10px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.whyus {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%;
    color: #F1A501;
    margin-top: 50px;
    text-align: revert;
    margin-bottom: 5px;
}

.why {
    text-align: center;
}

.us {
    color: #313131;
}

.why1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400%;
    font-size: 16px;
    margin-top: 0px;
    color: #7E7E7E;

}

.menu-link-button-container {
    display: flex;
    align-items: center;
}

s .nav-button-login {
    justify-content: space-between;
    display: flex;
}

.mainbox1 {
    display: flex;

}

.img-01 {
    display: flex;
    width: 100%;
    height: auto;

}

.text {
    padding-left: 80px;
    margin-block-start: 11pc;
}

.picset {
    padding-top: 50px;
    justify-content: center;
    display: flex;
    width: 100%;
}

figure {
    background: linear-gradient(180deg, rgba(241, 165, 2, 0) 0%, #F1A502 100%);
    border-radius: 50%;
    height: 400px;
    width: 400px;
    padding: 60px;

}

figure img {
    height: 600px;
    margin-top: -140px;
}

.mainbox {
    /* width: 100%; */

    justify-content: space-between;
    display: flex;
    margin-top: 8vmax;
    /* padding: 0px 170px; */
    padding-top: 30px;
    box-sizing: border-box;
    /* background: #fff; */
    padding: 0px 162px;

    border-radius: 15px;
    /* box-shadow: 0 27px 58px rgb(122 122 122 / 30%); */


    /* 
    min-height: 218px;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 27px 58px rgb(122 122 122 / 30%);
    border-radius: 15px;
    position: relative; */
}



.box1 {
    justify-content: space-between;
    padding: 0px;
    background-color: #E4A00B;
    width: 342px;
    height: 213px;
    background: #FFFFFF;
    box-shadow: 0px 4px 40px rgba(122, 122, 122, 0.3);
    border-radius: 15px;
    text-align: center;


}

.box1-1 {
    border-radius: 50px;
    width: 85px;
    height: 85px;
    background: #FFFFFF;
    border: 10px solid #EDEDED;
    margin-inline-start: 6pc;
    margin-top: -53px;

}

.physical {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #4F4F4F;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    text-align: center;

}

.Physical-img {
    width: 45px;
    height: 80px;

    margin: -68px;
    /* margin-inline: ; */

}

.plus-img {
    width: 79px;
    height: 79px;
    border-radius: 50px;
    margin-top: 95px;
    margin-inline-start: 13pc;
    background: #FFFFFF;

    position: relative;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
}


.plus-img-1 {
    width: 46px;
    margin-top: 14px;

}

.plus_icon {
    width: 79px;
    height: 79px;
    border-radius: 50px;
    margin-top: 26px;
    margin-inline-start: 13pc;
    background: #FFFFFF;
    position: relative;
    box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
}
.equal-img{
    width: 48px;
    margin-top: 25px;
}
.food-img {
    width: 50px;
    height: 80px;
    margin: 5px;
    margin-inline: 18px;
}



.heart-img {
    width: 53px;
    height: 80px;
    margin: 5px;
    margin-inline: 18px;
    /* margin-top: -5px; */

}

.bets-set {
    position: absolute;
    margin-left: 19px;
    margin-top: 16px;
    width: 46px;
    height: 29px;
    margin-inline: 17px;
    margin-top: 30px;
}

.menu-burger-container {
    position: relative;
    width: 20px;
    height: 15px;
    cursor: pointer;
    display: none;


}

.burger-line {
    width: 20px;
    height: 1.5px;
    border-radius: 5px;
    background: black;
}

.burger-line-2 {
    top: 8px;
    position: absolute;
    width: 20px;
    height: 1.3px;
    border-radius: 5px;
    bottom: 0px !important;
    background: black
}

.burger-line-3 {
    top: 14px;
    position: absolute;
    width: 20px;
    height: 1.4px;
    border-radius: 5px;
    bottom: 0px !important;
    background: black;

}


.get {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #4F4F4F;
    text-align: centers;
    padding: 7pc;
}

.get-1 {
    text-align: center;
}

.select {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    padding-inline-start: 6pc;
    margin: -7pc;

    color: #313131;

}

@media only screen and (max-width: 1000px) {
    .navbar {
        flex-direction: column;
    }
}

@media only screen and (max-width: 511px) {
    .menu-link-button-container {
        flex-direction: column !important;
    }


}

@media only screen and (max-width: 800px) {
    .menu-link-button-container {
        display: none;
    }

    .menu-burger-container {
        display: flex;
        margin-left: 20pc;
        margin-top: -28px;


    }

}

@media only screen and (max-width:1100px) {
    .main-01 {
        flex-direction: column-reverse;
        display: flex;
        text-align: center;
        width: 100%;
    }

    .text {
        margin-block-start: -1pc;
        padding-left: 20px;
    }
}

@media only screen and (max-width:800px) {
    .mainbox {
        padding: 0px 118px
    }
}

@media only screen and (max-width:620px) {
    .fig {

        height: 203px;
        width: 202px;
        padding: 26px;
    }

    .fig-01 {
        height: 330px;
        margin-top: -100px;
        margin-inline: -7px;
    }

}

/* @media only screen and (max-width:1400px) {
    .mainbox {
        width: fit-content;
        height: fit-content;
        padding-left: 171px;
        display: flex;
        text-align: center;
        justify-content: space-between;
        width: 100%;


    }

} */

/* @media only screen and (max-width:600px) {
    .mainbox {
        
    }
} */


@media only screen and (max-width:1385px) {
    .box1 {
        width: 299px;
        height: 199px;

    }

    .plus-img {

        width: 92px;
        height: 93px;
        margin-inline-start: 11pc;
    }

    .plus_icon {
        width: 91px;
        height: 91px;
        margin-top: 26px;
        margin-inline-start: 11pc;

    }
}

@media only screen and (max-width:1270px) {

    .box1 {
        width: 256px;
        height: 200px;

    }

    .plus-img {

        width: 91px;
        height: 87px;
        margin-inline-start: 9pc;
    }

    .plus_icon {
        width: 84px;
        height: 85px;
        margin-top: 26px;
        margin-inline-start: 9pc;


    }
}

@media only screen and (max-width:1141px) {

    .plus-img {

        width: 80px;
        height: 77px;
        margin-inline-start: 7pc;
    }

    .plus_icon {
        width: 80px;
        height: 77px;
        margin-top: 26px;
        margin-inline-start: 7pc;


    }
}



/* @media only screen and (max-width:1270px) {
    .plus-img{
        background-color:slateblue;
        width: 85px;
        height: 85px;
        margin-inline-start: 11pc;   
    }1141
    .plus_icon{
        width: 85px;
        height: 85px;
        margin-top: 26px;
        margin-inline-start: 11pc;
    
    }  
} */
@media only screen and (max-width:1100px) {
    .mainbox {
        flex-direction: column;
        display: flex;
        text-align: center;
        width: 100%;
        align-items: center;

        gap: 10pc;
        margin-top: 70px;
    }

    .plus-img {
        margin-top: 12pc;
        margin-inline-start: -11px;
    }

    .plus_icon {
        margin-top: 116px;
        margin-inline-start: -4px;

    }

}